# 2. DATA PROCESSING:


The initial stage of our process involves searching Kaggle for relevant data on anime. We'll focus on obtaining information about the top anime series and their rankings from various sources on Kaggle. Fortunately, Kaggle provides datasets on anime series, including details on ratings and popularity. We'll also utilize Kaggle datasets listing anime creators and their affiliations to gather information on the popularity counts for each series.

In [6]:
import pandas as pd

df = pd.read_csv("animes.csv")

Before we can actually analyze the data, we first must clean and process it into a format that will allows us to easily access the data points. We dropped of the empty or incomplete entries and removed potential duplicates. All of the data columns were string types when the csv file was initally read, so we had to convert them into the appropiate type. 

We first changed the type of the 'members' and 'popularity' columns into integers. We then converted the string in the 'genre' column back into string arrays, so we can analyze it later. 

Finally, we realized that the format for 'aired' column was inconsistent due to it originally being a string that comprises of two dates. However, this leads to the problem where some animes only aired for a single day and some of the dates were missing either the day or month. In order to remedy this, we are only going to check when the anime first aired. We also will use regex to check every date and if it is missing, we will be adding in missing numbers by adding '1' for missing day and 'January' for missing month. We then converted all of the columns into datetime type so we can compare and filter it later.

In [7]:
import matplotlib.pyplot as plt
import scipy
import re

df = df.drop_duplicates()
df = df.dropna()
df['members'] = df['members'].astype(int)
df['popularity'] = df['popularity'].astype(int)
df['genre'] = df['genre'].apply(eval)
df = df.drop('img_url', axis=1)
df = df.drop('link', axis=1)
df['aired'] = df['aired'].str.split(' to ').str[0]

def parse_date(date_str):
    formats = [r'^\w+ \d+\, \d{4}$', r'^\w+ \d{4}$', r'^\d{4}$']
    for fmt in formats:
      x = re.search(fmt, date_str)
      if (x):
        x = str(x.group())
        if fmt == r'^\w+ \d{4}$':
          x = x.replace(" ", " 1, ")
        elif fmt == r'^\d{4}$':
          x = "January 1, "+ x
      return pd.to_datetime(x)
    return pd.NaT
df['aired'] = df['aired'].apply(parse_date)
df = df.dropna()
display(df)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"[Comedy, Sports, Drama, School, Shounen]",2015-10-04,25.0,489888,141,25.0,8.82
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"[Drama, Music, Romance, School, Shounen]",2014-10-10,22.0,995473,28,24.0,8.83
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"[Sci-Fi, Adventure, Mystery, Drama, Fantasy]",2017-07-07,13.0,581663,98,23.0,8.83
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","[Action, Military, Adventure, Comedy, Drama, M...",2009-04-05,64.0,1615084,4,1.0,9.23
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"[Action, Mystery, Supernatural, Vampire]",2017-01-06,1.0,214621,502,22.0,8.83
...,...,...,...,...,...,...,...,...,...,...
19002,10075,Naruto x UT,All-new animation offered throughout UNIQLO cl...,"[Action, Comedy, Super Power, Martial Arts, Sh...",2011-01-01,1.0,34155,2382,1728.0,7.50
19003,35828,Miira no Kaikata,High school student Sora Kashiwagi is accustom...,"[Slice of Life, Comedy, Supernatural]",2018-01-12,12.0,61459,1648,1727.0,7.50
19004,10378,Shinryaku!? Ika Musume,"After regaining her squid-like abilities, Ika ...","[Slice of Life, Comedy, Shounen]",2011-09-27,12.0,67422,1547,1548.0,7.56
19005,33082,Kingsglaive: Final Fantasy XV,"For years, the Niflheim Empire and the kingdom...",[Action],2016-07-09,1.0,41077,2154,1544.0,7.56
19006,16934,Chuunibyou demo Koi ga Shitai!: Kirameki no......,Although Yuuta Togashi and Rikka Takanashi hav...,"[Comedy, Drama, Romance, School, Slice of Life]",2013-06-19,1.0,128400,883,1533.0,7.56

# 3. Exploratory data analysis